---
# SCSS customizations go here.
---

@import 'minima';
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway:900');

/* Fonts */
$font-heading: Raleway, sans-serif;
$font-body: Libre Baskerville, serif;

/* Colors */
$color-blue:    #498cf6;
$color-gray:    #aaaaaa;
$color-light:   #f0f0f0;

body {
    font-family: $font-body;
}

a:link {
    color: $color-blue;
}

a:hover {
    text-decoration: none;
}

.site-header {
    background-color: $color-blue;
    border-top: solid 5px $color-blue;
    border-bottom: solid 5px $color-light;
    padding-bottom: 15px;

    .site-title {
        color: $color-light;
        font-family: $font-heading;
        font-size: 1.8em;
    }
}

.post-cover {
    margin-bottom: 40px;
}

/* Headings */
.post-title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.excerpt {
    text-align: center;
    font-weight: 700;
    color: $color-gray;
    padding: 20px 0;
}

.post-meta {
    text-align: center;
}

.post-meta {
    font-size: 1.6em;
    font-weight: 700;
}

.author {
    color: $color-blue;
}

/* Content formatting */
.pullquote::before {
    content: "“";
}

.pullquote {
    text-align: center;
    color: $color-blue;
    font-size: 1.5em;
    font-weight: 700;
    padding: 25px 0;
}

.pullquote::after {
    content: "”";
}
