---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        {% if page.cover %}
            <div class="post-cover">
                <img src="{{ page.cover.src }}" alt="{{ page.cover.alt }}">
            </div>
        {% endif %}
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-excerpt">{{ page.excerpt | truncate: 160 }}</p>

        <p class="post-meta">
        {% assign author = site.data.people[page.author] %}
        {% if author %}
            ✒️ <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                {% if author.twitter %}
                    <a href="https://twitter.com/intent/user?user_id={{ author.twitter }}" target="_blank"><span class="author" itemprop="name">{{ author.name }}</span></a>
                {% else %}
                    <span class="author" itemprop="name">{{ author.name }}</span>
                {% endif %}
                </span>
        {% endif %}
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="post-share" itemprop="social-media">
        <!-- TODO: Implement this -->
    </div>
</article>
